@model CreateCategoryPageVM

<form asp-action="CreateCategory" asp-controller="Category" method="post" class="p-3 w-75 m-auto">

    <div class="mb-3">
        <label>Kategori İsmini giriniz</label>
        <input asp-for="CreateCategoryPureVM.CategoryName" class="form-control" />
        <span asp-validation-for="CreateCategoryPureVM.CategoryName" class="text-danger"></span>
    </div>

    <br />
    <div class="mb-3">
        <button class="btn btn-primary">Kategori Ekle</button>
    </div>

    <div class="text-danger" asp-validation-summary="ModelOnly">
    </div>

</form>
