@model UpdateCategoryPageVM

<form asp-action="UpdateCategory" asp-controller="Category" method="post" class="col-md-6" style="margin-left:25%">

    <input type="hidden" asp-for="UpdateCategoryPureVM.ID" />
    <div class="mb-3">
        <label>Kategori İsmini giriniz</label>
        <input asp-for="UpdateCategoryPureVM.CategoryName" class="form-control" />
        <span asp-validation-for="UpdateCategoryPureVM.CategoryName" class="text-danger"></span>
    </div>
    <br />
    <div class="mb-3">
        <button class="btn btn-primary">Kategori Güncelle</button>
    </div>

    <div class="text-danger" asp-validation-summary="ModelOnly">
    </div>

</form>
