@model UpdateMoviePageVM

<form asp-action="UpdateMovie" asp-controller="Movie" method="post" class="col-md-6" style="margin-left:25%" enctype="multipart/form-data">
    <input type="hidden" asp-for="UpdateMoviePureVM.ID" />
    <input type="hidden" asp-for="UpdateMoviePureVM.ImagePath1" />
    <input type="hidden" asp-for="UpdateMoviePureVM.ImagePath2" />
    <div class="mb-3">
        <label>Film İsmini giriniz</label>
        <input asp-for="UpdateMoviePureVM.MovieName" class="form-control" />
        <span asp-validation-for="UpdateMoviePureVM.MovieName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Film süresini giriniz</label>
        <input asp-for="UpdateMoviePureVM.Time" class="form-control" />
        <span asp-validation-for="UpdateMoviePureVM.Time" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Film'in Vizyon tarihini giriniz</label>
        <input asp-for="UpdateMoviePureVM.VisionDate" type="date" class="form-control" />
        <span asp-validation-for="UpdateMoviePureVM.VisionDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Film'in Açıklamasını Yazınız</label>
        <input asp-for="UpdateMoviePureVM.Description" class="form-control" />
        <span asp-validation-for="UpdateMoviePureVM.Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Film'in Başlama tarihini giriniz</label>
        <input asp-for="UpdateMoviePureVM.StartingDate" type="date" class="form-control" />
        <span asp-validation-for="UpdateMoviePureVM.StartingDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Film'in Bitiş tarihini giriniz</label>
        <input asp-for="UpdateMoviePureVM.EndDate" type="date" class="form-control" />
        <span asp-validation-for="UpdateMoviePureVM.EndDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>1.Fotoğrafı yükleyiniz</label>
        <input type="file" name="formFile1" class="form-control" asp-for="UpdateMoviePureVM.ImagePath1" />
    </div>

    <div class="mb-3">
        <label>2.Fotoğrafı yükleyiniz</label>
        <input type="file" name="formFile2" class="form-control" asp-for="UpdateMoviePureVM.ImagePath2" />
    </div>




    <br />
    <div class="mb-3">
        <button class="btn btn-primary">Güncelle</button>
    </div>

    <div class="text-danger" asp-validation-summary="ModelOnly">
    </div>

</form>