@model UserPasswordPureVM

<form asp-action="ResetPassword" asp-controller="Home" method="post" class="form-signin">
    <h2 class="form-signin-heading">Şifre Sıfırla</h2>
    <div class="login-wrap">
        <input asp-for="token" type="hidden" />
        <input asp-for="id" type="hidden" />

        <span class="text-danger" asp-validation-for="NewPassword"></span>
        <input asp-for="NewPassword" type="password" class="form-control" placeholder="Yeni Şifrenizi Yazınız">

        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Şifreyi Tekrar Girin">

        <button class="btn btn-lg btn-login btn-block" type="submit">Onayla</button>
    </div>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
</form>
